.primary {
  background-color: #00a826;
  width: 100%;
  border: 0;
  padding: 7px 12px;
  border-radius: 2px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.primary:disabled {
  background-color: #eeeeee;
  cursor: not-allowed;
  color: white;
}

.clear {
  background-color: rgb(255, 255, 255);
  width: 100%;
  border: 0;
  padding: 7px 12px;
  border-radius: 2px;
  color: #00a826;
  font-size: 16px;
  cursor: pointer;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.clear_selected {
  background-color: #00a826;
  width: 100%;
  border: 0;
  padding: 7px 12px;
  border-radius: 2px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  cursor: pointer;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.clear_outline {
  background-color: rgb(255, 255, 255);
  width: 100%;
  border: 0;
  padding: 5px;
  border-radius: 2px;
  color: #00a826;
  font-size: 16px;
  height: 48px;
  line-height: 28px;
  cursor: pointer;
  box-shadow: 0 0 0 1px rgb(190, 190, 190);
  -moz-box-shadow: 0 0 0 1px rgb(190, 190, 190);
  -webkit-box-shadow: 0 0 0 1px rgb(190, 190, 190);
  justify-content: center;
  justify-items: center;
}
