.header_wrapper {
  background-color: black;
  display: grid;
  grid-template-columns: 100px 1fr 200px 10px;
  padding: 10px;
  align-items: center;
}

.header_button_inner_wrapper {
  display: grid;
  grid-template-columns: 100px 100px;
  column-gap: 10px;
}

.logo {
  width: 88px;
  height: 25px;
}
