.offer {
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.555);
  width: 100vw;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

.offer > section {
  width: 75%;
  margin: 10px;
}

.offer > section > span {
  text-transform: uppercase;
  font-size: 12px;
}

.offer > section > h2 {
  margin: 10px 0;
}

@media (min-width: 600px) {
  .offer > section {
    width: 35%;
  }
}
