.close_wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
  border: 0;
  background: white;
}

.wrapper {
  position: relative;
  text-align: center;
}

.register_link {
  background: 0;
  border: 0;
  font-size: 16px;
  text-decoration: underline;
  color: #00a826;
}

.form_wrapper {
  position: relative;
  text-align: left;
  justify-content: center;
}

.forgot_password {
  color: #00a826;
  font-size: 10px;
}

.divider {
  margin: 20px 0;
  background-color: rgb(196, 196, 196);
  border: none;
  height: 1px;
}

.inner_form_wrapper {
  position: relative;
  text-align: left;
  max-width: 80%;
  margin: 20px auto 10px auto;
}
