.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_section {
  z-index: 10;
  background-color: white;
  overflow-y: scroll;
  border-radius: 10px;
  padding-bottom: 20px;
  min-width: 350px;
}

@media (max-width: 1024px) {
  .modal_section {
    z-index: 10;
    background-color: white;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    width: 100vw;
    border-radius: 0;
  }
}
