.input_error {
  color: #ff0000;
  height: 20px;
}
.input_error label {
  margin-top: 10px;
  font-size: 10px;
}

.field {
  font-family: inherit;
  background-color: white;
  outline: 0;
  width: 100%;
  margin: auto 0;
  border: 0;
  padding: 0 12px;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color: #3b3b3b;
  -webkit-appearance: none;
  -moz-box-shadow: 0 0 0 1px#3b3b3b;
  -webkit-box-shadow: 0 0 0 1px #3b3b3b;
  border: 0;
  box-shadow: 0 0 0 1px #3b3b3b;
  -webkit-appearance: none;
  height: 38px;
}
